/////////////////////////////////////////////////////
//////										  ///////
//////  Project Main Style Shhet - main.sass  ///////
//////  Author : Gor Julhakyan                ///////
//////  Created : 2016                        ///////
//////  Format : Sass * NOT SCSS *            ///////
//////										  ///////
/////////////////////////////////////////////////////

.sumtable
	justify-content: center
	.md-errors-spacer
		display: none
	md-input-container
		margin-left: 10px

.input-label
	color: #444
	border: none
