<form action="">
	<input type="date" name="day" ng-model="partiesList.newParty.date" format="medium">
	<br>
	
	<br>
	<div id="day">{{ partiesList.date}}</div>

	<br>
<!-- 
	<input type="text" ng-value="partiesList.date | date: 'dd' " ng-model="partiesList.newParty.date[day]">
	<input type="text" ng-value="partiesList.date | date: 'MMM' " ng-model="partiesList.newParty.date[month]">
	<input type="text" ng-value="partiesList.date | date: 'yyyy' " ng-model="partiesList.newParty.date[year]">

	<br>
	-->

	<span ng-repeat="car in partiesList.carsErevan" style="display: block">
		<input type="text" ng-value="car.number" >
		<input type="number" ng-model="partiesList.newParty[car.number].sum1">
		<input type="number" ng-model="partiesList.newParty[car.number].sum2">
		<input type="number" ng-model="partiesList.newParty[car.number].sum3">
	</span>
	<button ng-click="partiesList.addParty()">Add Party!</button>
</form>
<input type="text" ng-model="s">
<ul>
	<li  ng-repeat="party in partiesList.parties | filter:s">
		<div>
			<div>{{party[306].sum1 + party[306].sum2 + party[306].sum3}}</div>
			<div>{{ party.date | date: 'dd.MMM.yyyy' }}</div>
		</div>
		<button ng-click="partiesList.removeParty(party)">DELETE</button>
	</li>
</ul>

<!--
<form>
	<label>Party Name: </label>
	<input ng-model="partiesList.newParty.name" />
	<label>Description: </label>
	<input ng-model="partiesList.newParty.description" />
	<button ng-click="partiesList.addParty()">Add Party!</button>
</form>
<ul>
	<li ng-repeat="party in partiesList.parties">
		{{party.name+party.description | number}}
		<p>{{party.description}}</p>
		<button ng-click="partiesList.removeParty(party)">X</button>
	</li>
</ul>-->