{{partiesList.newParty}}

<form action="">
	<md-datepicker ng-model="partiesList.newParty.date" md-placeholder="Enter date"></md-datepicker>

	<md-card class="sumtable" ng-repeat="global in partiesList.globals">
		<md-card layout="row" flex layout-align="center center" class="date">
    		<h2>{{ partiesList.newParty.date | date: 'dd.MM.yyyy' }}</h2>
 	 	</md-card>
		<span ng-repeat="car in global.cars" layout="row" flex layout-margin layout-align="center center" class="car-input">
			<div class="input-label">{{ car.number }}</div>
			<md-input-container md-no-float class="md-block" layout-fill flex="20" flex-offset="15">
				<input type="number" min="0" id="sum1" ng-change="partiesList.db(global.cmpny)" aria-label="input1" step="50" ng-model="partiesList.newParty[car.id].sum1">
			</md-input-container>
			<md-input-container layout-fill flex="20" flex-offset="5" class="val-input">		
				<input type="number" min="0" id="sum2" ng-change="partiesList.db(global.cmpny)" aria-label="input2" step="50" ng-model="partiesList.newParty[car.id].sum2">
			</md-input-container>
			<md-input-container layout-fill flex="20" flex-offset="5" class="val-input">				
				<input type="number" min="0" id="sum3" ng-change="partiesList.db(global.cmpny)" aria-label="input3" step="50" ng-model="partiesList.newParty[car.id].sum3">
			</md-input-container>
			
		</span>
		<md-card-actions layout="row" layout-align="end center">
			<md-button class="md-fab" aria-label="Add Sheat" ng-click="partiesList.addParty()">
				<md-icon md-svg-src="content:ic_send_24px"></md-icon>
			</md-button>
        </md-card-actions>
		
	</md-card>
	<button ng-click="partiesList.addParty()">Add Party!</button>
</form>
<input type="text" ng-model="s">
<ul>
	<li  ng-repeat="party in partiesList.parties | filter:s">
		<div>
			<div>{{party.sum1 + party.sum2 + party.sum3}}</div>
			<div>{{ party.date | date: 'dd.MMM.yyyy' }}</div>
		</div>
		<button ng-click="partiesList.removeParty(party)">DELETE</button>
	</li>
</ul>
