<md-toolbar layout="row" layout-align="end center" flex>
  <md-fab-actions class="md-toolbar-tools" layout-align="end center" flex>
    <md-switch ng-model="edit">Edit</md-switch>
	<md-input-container>
    	<label>Months</label>
        <md-select ng-model="mntFilter">
        	<span ng-repeat="sezon in monthly.months">
          <md-optgroup label="{{sezon.sezons}}">
            <md-option ng-value="month" ng-repeat="month in sezon.months">{{month}}</md-option>
          </md-optgroup>
          </span>
        </md-select>
      </md-input-container>
  </md-fab-actions>
</md-toolbar>



<md-whiteframe class="mnt-cont md-whiteframe-2dp">
    <md-card class="md-whiteframe-2dp" layout="column">
        <md-whiteframe class="md-whiteframe-2dp mnt-car-hed" layout-align="center center" flex="100">
            <span layout="row">
            <div ng-repeat="car in monthly.globals" layout="row" class="mnt-container">
                <div layout-align="center center">
                	{{ car.number }}
                </div>
            </div>
        </span>
        </md-whiteframe>
        <div layout="column" layout-align="start start" ng-repeat="party in monthly.parties | filter:mntFilter">
            <md-card layout="row" flex="100">
                <span layout="column" ng-repeat="car in monthly.globals | filter:monthly.cmpny" class="mnt-container" ng-model="total">
                	{{ party[car.dbKey].sum1 + party[car.dbKey].sum2 + party[car.dbKey].sum3 }}
					<span layout="row" ng-show="edit" class="val-edit">
						<md-button class="md-icon-button" aria-label="More">
					        <md-icon md-svg-icon="content:ic_create_24px"></md-icon>
						</md-button>
						<md-button class="md-icon-button" aria-label="More">
					        <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
						</md-button>
					</span>
                </span>
            </md-card>
        </div>
    </md-card>
</md-whiteframe>
